.form-signup, .form-login {
	padding-top: 60px;
	padding-bottom: 40px;
	max-width: 400px;
	margin: 0 auto;
}

.form-heading {
	padding-bottom: 10px;
}

.question {
	font-size: larger;
}

.form-answers .checkbox {
	padding: 10px 0;
	font-size: larger;
}

.form-answers button {
	margin-top: 10px;
}

.results {
	max-width: 400px;
	margin: 25px auto;
}

.results .badge-danger {
	background-color: #d9230f;
}

.results .badge-default {
	background-color: #999999;
}

.results .badge-success {
	background-color: #468847;
}

.quizzes .panel-completed {
	border-color: #dddddd;
}

.quizzes .panel-completed .panel-heading {
	background-color: #808181;
	border-color: #808181;
	color: #fcfcfc;
}

.quizzes .panel-completed .panel-body {
	background-color: #FAFAFA;
}

.quizzes .panel-completed .btn-default {
	background-color: #808181;
	background-image: none;
	border: 1px solid #808181;
}

.quizzes .panel-default .btn-primary {
	background-color: #d9230f;
	background-image: none;
	border: 1px solid #d9230f;
}
