.form-signup, .form-login {
	padding-top: 60px;
	padding-bottom: 40px;
	max-width: 400px;
	margin: 0 auto;
}

.form-heading {
	padding-bottom: 10px;
}

.quiz {
	min-height: 300px;
}

.question {
	font-size: larger;
}

.form-answers .checkbox {
	padding: 10px 0;
	font-size: larger;
}

.form-answers button {
	margin-top: 10px;
}

.results {
	max-width: 400px;
	margin: 25px auto;
}

.results .badge-danger {
	background-color: #b94a48;
}

.results .badge-default {
	background-color: #999999;
}

.results .badge-success {
	background-color: #468847;
}
