{% extends 'base.html' %}

{% block content %}
	<h1 class="text-center">{{ object.title }} завершен</h1>
	<div class="results">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge badge-success">{{ valid_count }}</span>
				Количество правильных ответов
			</li>
			<li class="list-group-item">
				<span class="badge badge-danger">{{ invalid_count }}</span>
				Количество неправильных ответов
			</li>
			<li class="list-group-item">
				<span class="badge badge-default">{{ percent }}%</span>
				Процент правильных ответов
			</li>
		</ul>
	</div>
{% endblock content %}
