{% extends 'base.html' %}

{% block content %}
	<div class="row">
		{% for obj in object_list %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ obj.title }}</h3>
				</div>
				<div class="panel-body">
					<p>{{ obj.description|default_if_none:"" }}</p>
					<p>
						<a class="btn btn-default" href="{{ obj.get_absolute_url }}" role="button">Пройти &raquo;</a>
					</p>
				</div>
			</div>
		{% empty %}
			<div class="page-header">
				<h1>Тесты отсутствуют</h1>
			</div>
		{% endfor %}
	</div>
	{% if is_paginated %}
		<div class="row">
			<nav>
				<ul class="pager">
					<li {% if not page_obj.has_previous %}class="disabled" {% endif %}>
						<a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Назад</a>
					</li>
					<li {% if not page_obj.has_next %}class="disabled" {% endif %}>
						<a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Вперед</a>
					</li>
				</ul>
			</nav>
		</div>
	{% endif %}
{% endblock content %}
